*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-family: 'Lemonada', cursive;
    outline:none;
    scroll-behavior: smooth;
}
body{
    /* background-image: url("images/doodle.jpg"); */
    background-size: cover;
    background-repeat: repeat-y;
    overflow-x: hidden;
    background-image: url('../images/doodle.jpg');
}
header{
    height:12vh;
    background-color: rgb(239, 237, 237);
}
.logo img{
    width:60px;
    height:60px;
    float:left;
    margin:10px;
    margin-left: 3%;
    margin-top:15px;

}
.authorName{
    color:black;
    text-align:center;
    float:right;
    height:100px;
    margin-right:3%;
    line-height: 1.6;
    margin-top:30px;
}
nav{
    height:10vh;
    background-color:black;
    color: rgb(239, 237, 237);
}
nav ul{
    list-style-type: none;
    text-align: center;
    position:relative;
    top:25px;
    left:10%;
}
nav ul li{
    display:inline;
    padding:50px;
    align-items:center;
}
nav ul li a{
    text-decoration:none;
    color:rgb(239, 237, 237);
}
/* nav ul li a:hover{
    padding:0 10px;
    border: 1px solid white;
    border-radius:20px;
} */
/* .active{
    padding:0 10px;
    border: 1px solid white;
    border-radius:20px;
} */



/* Left Nav and Hero Box */

.boxes{
    display:flex;
}
.leftNav{
    flex-basis: 15%;
    background-color:rgb(239, 237, 237);
    height:60vh;
}
.leftNav ul{
    list-style-type: none;
    float:right;
    padding:15%;
    padding-top:25%;
}
.leftNav ul li{
    margin-top:20px;
    text-align: right;
}
.leftNav ul li a{
    text-decoration: none;
    color:rgb(126, 123, 123);
}
.leftNav ul li a:hover{
    text-decoration: underline;
}
.heroBox{
    flex-basis:85%;
    /* background-image: url("images/heroimg.jpg"); */
    background-image: url("../images/heroimg1.jpg");
    height:60vh;
    background-size:100%;
    background-position:bottom;
}
.heroBox h3, .heroBox h2{
    color:white;
    position:relative;
    top:15vh;
    padding-left:20px;
}
.heroButton{
    position:relative;
    top:20vh;
    padding-left:20px;
}
.viewButton, .connectButton{
    background: transparent;
    margin:5px;
    padding:5px;
    color:white;
}
.heroButton a{
    text-decoration: none;
    padding:0 30px;
}
.viewButton:hover, .connectButton:hover{
    cursor: pointer;
}
.aboutContainer{
    display:flex;
    justify-content:space-around;
    margin:3%;
}
.shantanuImg{
    margin-top:3%;
}
.about{
    color:white;
    flex-basis: 32%;
    text-align:center;
    /* position:relative;
    top:100px; */
}
.puruImg{
    margin-top:3%;
}

/* Album Thumbnails */

.albumHeading{
    color:white;
    text-align: center;
    text-decoration: underline;
    font-size: 225%;
}
.albums{
    background-color:rgb(0, 0, 0);
    display:flex;
    color:white;
    height:10vh;
    justify-content: space-around;
    /* border-radius: 20px; */
}
.albums div p{
    opacity:0.6;
}
.albums .abstract p{
    opacity:1;
}
.potrait, .animation, .abstract, .product, .digital, .craft{
    flex-basis:30%;
    text-align:center;
    align-items: center;
    margin-top:3vh;
}
.potrait p:hover, .animation p:hover, .abstract p:hover,
 .product p:hover, .digital p:hover, .craft p:hover{
    cursor:pointer;
    opacity:1;
}

.albumNameDisplay{
    text-align: center;
    color:white;
    text-decoration:underline;
}
.albumImg{
    display:flex;
    flex-wrap: wrap;
}

.albumImg a img{
width:300px;
height:300px;
/* border-radius:20px; */
box-shadow: 5px 5px 5px rgb(0, 0, 0);
border: 1px solid black;

}
.albumImg a{
    margin:2.5%;
}
.viewMoreLink{
    text-align:center;
}
.viewMoreLink a{
    color:white;
}
footer{
    color:white;
    background-color: black;
    text-align: center;
    font-size:75%;
    height:10vh;
}
footer p{
    padding-top: 10px;
}